* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url(./gameBack.png);
  background-size: 1500px;
  background-position: bottom 800px;
  align-items: center;
}

header {
  background-color: blue;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  width: 50%;
  font-size: 25pt;
  text-align: center;
}
.field {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
img {
  height: 600px;
  position: relative;
  top: 50px;
}
.statBar {
  text-align: center;
  color: white;
  background-color: blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20pt;
  border: 3px solid white;
  border-radius: 10px;
}
.cardContain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card {
  width: 30%;
  border: 3px solid white;
  border-radius: 10px;
}
.goblin p {
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 20pt;
  background-color: blue;
  color: white;
}
.neyru p {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}
.neyru p button {
  font-size: 20pt;
  transition: 0.5s;
}
.neyru p button:hover {
  font-size: 30pt;
  transition: 0.5s;
  background-color: blue;
  color: white;
}
